* {box-sizing: 600px;
}
html { 
  background:lightgray;}

header {
   font-family: 'Luckiest Guy', Courier, monospace;
   font-size: 30;
   color: purple;
   text-align: center;
}


h3 {
  font-family:sans-serif;
}

/*table*/

table{
 margin: 0 auto;
 padding:150px
 border:100px;
 max-width: 900px;
 empty-cells: show;
}

table th{
   font-family:sans-serif;
   font-size:30;
   height: 120px;   
   color: white;
   background:palevioletred;
}

table td {
  color:purple;
  background:lavenderblush;
  max-height: 50px;
  max-width: 300px; 
  margin: 0 auto;
  padding: 15px;
}

code {
  font-family: monospace;
  color: hotpink;
}

.monospace {
  font-family: "Lucida Console", Courier, monospace;
}

footer {
  padding: 70px;
}
